:root{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.App{
    background-color: rgb(17, 3, 43);
}

.banner{
    font-family: Georgia, 'Times New Roman', Times, serif;
  
}

.info{
    box-shadow: 10px 8px 8px whitesmoke;
}