:root{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.banner{
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-image: url('./1_GsImz-edoeuqCMfKxDus0w.jpeg');
}

.info{
    background-color: rgba(0, 0, 0, 0.252);
}